.blog {
  margin: 50px 100px;
  /* max-width: 500px; */
 display: flex;
 flex-wrap: wrap;
}
  @media screen and (max-width:425px){
    .blog{
      margin: 0px;
    }
  }
.blog-section{
  display: flex;
  flex-wrap: wrap;
}

.blog .boxItems {
  margin-top: 50px;
  transition: 0.5s;
  max-width: 500px;
  margin-right: 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:450px){
  .blog .boxItems{
  margin-right: 0px;
  }
}
.blog .boxItems:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  cursor: pointer;
  transform: translateY(-5px);
}
.blog img {
  width: 350px;
   height: 250px; 
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width:450px){
  .blog img{
  width: 500px;
  
}
}
.blog .icon {
  margin-right: 10px;
  font-size: 20px;
}
.blog .tag a {
  color: blue;
  opacity: 0.7;
}
.blog .tag {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.blog h3 {
  font-weight: 500;
}
.blog p {
  color: #999;
  font-weight: 400;
  margin: 20px 0;
  font-size: 17px;
  line-height: 25px;
}
.blog .date {
  display: flex;
  align-items: center;
}
.blog .date label {
  display: block;
  margin-right: 20px;
}

.details{
  margin: 20px;
}